.clokcontainer {
    position: relative;
    height: 40vw;
    width: 40vw;
    background-image: url(clock.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: auto;
}

#hour,
#minute,
#second {
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour {
    width: 2%;
    height: 32%;
    top: 19%;
    left: 48.9%;
    opacity: 0.8;
}

#minute {
    width: 1.2%;
    height: 33%;
    top: 16%;
    left: 49.5%;
    opacity: 0.8;
}

#second {
    width: 0.8%;
    height: 33%;
    top: 16%;
    left: 50%;
    opacity: 0.8;
}